<!DOCTYPE html>
<html lang="en">
<%- include('../partials/test/head')%>

<body>
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s6 offset-s3 valign">
        <div>
          <h5>Grab your Weapons, fight your rival mafia!!</h5>
        </div>
        <form action="/fight" method="POST" class="valign">
          <!-- <input type='hidden' name='playerId' > -->
          <select multiple name="weapons"><% weapons.forEach((weapon,i)=>{ %>
            <option value="<%= weapon.id %>" <%= (!i)?`selected`:``.repeat(0) %> > <%= weapon.name %> </option>
            <% })%>
          </select>
          <label>Select the weapon</label>

          <div class="row">
            <% enemies.forEach((enemy,i)=>{ %>
            <!-- <div class="col s3"> -->
            <p>
              <label>
                <input class="with-gap" name="enemy" type="radio" value="<%= enemy.id %>" <%= (!i)?`checked`:`` %>/>
                <span><%= enemy.username%></span>
                <span></span>
                <span>level <%= enemy.level %></span>
                <!-- <span><%= enemy.username %></span> -->
                <span>defense point <%= enemy.defense %></span>
              </label>
            </p>
            <!-- </div> -->
            <% })%>
          </div>

          <button class="waves-effect waves-light btn" type="submit">
            FIGHT
          </button>
        </form>
      </div>
    </div>
  </div>

  <%- include('../partials/test/inits')%>
</body>

</html>