<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/test/head')%>
  <body class="row">
    <div>
       <div class='row'>

       </div> 
      <form action='/fight' method="POST">
        <!-- <input type='hidden' name='playerId' > -->        
          <select multiple name="weapons">            
            <% weapons.forEach(weapon=>{ %>
            <option value="<%= weapon.id %>"> <%= weapon.name %> </option>
            <% })%>
          </select>
          <label>Select the weapon</label>
        </div>        
        
          <div class="row">
            <% enemies.forEach((enemy,i)=>{ %>
            <!-- <div class="col s3"> -->
            <p>
                <label>
                  <input class="with-gap" name="enemy" type="radio" value='<%= enemy.id %>' />
                  <span><%= enemy.username%></span>
                  <span></span>
                  <span>level <%= enemy.level %></span>
                  <!-- <span><%= enemy.username %></span> -->
                  <span>defense point <%= enemy.defense %></span>
                </label>
            </p>
            <!-- </div> -->
            <% })%>
          </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">FIGHT</button>
      </form>
    </div>
    <%- include('../partials/test/inits')%>
  </body>
</html>
